<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Smarter 2 Barter</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
  crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>

  </head>

<body>
  <header>
    <nav class="navbar">
      <div class="container">
          <div class="row">
              <div class="col 12">
                      <a href="/services"><button class="btn" id="services">View Services</button></a>
                      <a href="/location"><button class="btn" id="location">Location</button></a>
                      <a href="/bartcoins"><button class="btn" id="bartcoins">BartCoins</button></a>
                      <a href="/howitworks"><button class="btn" id="howitworks">How It Works</button></a>
                      {{#if loggedIn}}
                      <a href=“/userprofile”>View Your Profile</a>
                      <button id="logout" class="btn-no-style">Logout</button>
                      {{else}}
                      <a href="/login"><button class="btn" id="login">Login</button></a>
                      <a href="/signup"><button class="btn" id="signup">Sign up</button></a>
                      {{/if}}
              </div>
          </div>
      </div>
    </nav>

  </header>
  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>
  <footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-4 footer-about">
                <img src="images/barterLogo.jpeg" alt="logo" class="logo-footer max-auto">
            </div>
            <div class="col-md-4 col-lg-4 footer-contact ">
                <h3>Contact Us</h3>
                <p>
                    <i class="fas fa-phone"></i>
                    123.456.7890
                </p>
                <p>
                    <a href="mailto:support@smarter2barter.com" class="email">
                    <i class="fas fa-envelope"></i>
                    support@smarter2barter.com
                    </a>
                </p>
            </div>
            <div class="col-md-4 col-lg-3 footer-social">
                <h3>Follow Us</h3>

                    <a href="" class="footer-social"><i class="fab fa-twitter"></i></a>
                    <a href="" class="footer-social"><i class="fab fa-github"></i></a>
                    <a href="" class="footer-social"><i class="fab fa-linkedin-in"></i> </a>

            </div>
        </div>
    </div>
</footer>

  <!-- Only include the logout script if the user is logged in -->
  {{!-- {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}} --}}
</body>

</html>
