{{#if logged_in}}
<nav>
    <button class="btn" id="login">BartCoin</button>
    <button class="btn" id="login">How It Works</button>
    <button class="btn" id="login">login</button>
    <button class="btn" id="login">Join</button>
    {{!-- these should be links to specific pages eg. login - brings to login page etc. --}}
</nav>
<h1>
How It Works
</h1>
{{/if}}
</header>
<main class="container container-fluid mt-5">
    {{{ body }}}
    <div id="service">

    </div>
    <div id="personal-skills">

    </div>
    <div id="connect-with-members">

    </div>
</main>
<footer>

</footer>
