

    
<h1 class="text-center">
How It Works
</h1>

<div class="card-group">
                <div class="card" style="margin: 25px;">
                  <div class="card-body" style="background-color: #034078; color: #FEFCFB; padding: 25px;">
                    <h3 class="card-title">What makes you unique?</h3>
                    <p class="card-text">Share with our comunity what makes you unique. Your talents, passions, hobbies, skills.</p>
                    <p class="card-text"><small class="text-muted"></small></p>
                  </div>
                </div>
                <div class="card" style="margin: 25px;">
                  <div class="card-body" style="background-color: #FEFCFB; padding: 25px;">
                    <h3 class="card-title">Find a service</h3>
                    <p class="card-text">Let's face it we are not amazing at everything. find a service that compliments your lifestyle.</p>
                    <p class="card-text"><small class="text-muted"></small></p>
                  </div>
                </div>
                <div class="card" style="margin: 25px;">
                  <div class="card-body" style="background-color: #034078; color: #FEFCFB; padding: 25px;">
                    <h3 class="card-title">Make an offer</h3>
                    <p class="card-text">Found a sevrice you liked? Make an offer and exchange services. Enjoy our app and be kind!</p>
                    <p class="card-text"><small class="text-muted"></small></p>
                  </div>
                </div>
                






<script src="/js/howitworks.js"></script>