<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>LOG IN</h1>
    <button type="button">Join with Linkedin</button>
    <br />
    <br />
    <button type="button">Join with Googole</button>
    <br />
    <br />
    --------------------------------------------------
    <br />
    <form>
      <label for="fname">Email:</label><br />
      <input type="email" id="email" />
      <br />
      <label for="lname">Password:</label><br />
      <input type="password" id="pwd" />
      <br>
      <br>
      <button type="button" id="lgn">Login</button>
      <br>
      <br>
      Not a member? <a href="/login">Join Now</a>
    </form>
  </body>
</html>
