
<main>
    <div class="card" style="text-align: center; width: 35%; margin-left: 33%; border-radius: 5%;">

        <h1 class="header-login">LOGIN</h1>
        {{!-- <div>
            <a href="https://linkedin.com"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://facebook.com"><i class="fab fa-facebook-f"></i></a>
            <a href="https://google.com"><i class="fab fa-google"></i></a>
                <br> <br>
        </div> --}}
        <hr style="color: #034078; height:5px">
        <div>
            <form class="form login-form">
                <input type="text" id="email-login" placeholder="Email"><br>
                <br>
                <input type="password" id="password-login" placeholder="Password"><br>
            </form>
            <br>
            <button class="btn sign-in-btn" type="button" id="log">SIGN IN</button>
        </div>
        <br>
        <p>Not a member? <a href="/signup">Join Now</a></p>
    </div>
</main>

<script src="/js/login.js"></script>
