<h2 class="card-header">Services</h2>
            <div class="card-group">
                {{#each services as |service|}}
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">{{service.name}}</h5>
                    <p class="card-text">{{service.description}}</p>
                    <p class="card-text">{{service.user.name}}</p>
                  </div>
                </div>

                {{/each}}
                </div>


